.cover {
    padding: 10px
}

.root {
    width: 100%;
    margin-top: 20px;
    height: 100%
}
.table {
    min-width: 500px;
}
.tableWrapper {
    overflow: auto;
    height: 300px;
}
.tableRow:nth-child(even) {
    background-color: #dddddd;
}
.iconAddHover {
    margin: 10px;
    color: cadetblue
}

.rootPagination {
    flex-shrink: 0
    /* flexShrink: 0 */
}

.search {
    min-width: 250px;
    max-height: 32px;
    margin-right: 20px
}
.inputSearch {
    padding-left: 20px;
    height: 30px;
    width: 220px;
}
.icon {
    height: 30px;
    padding-right: 10px
}

.spacer {
    flex: 1 1 100px;
}

.appBar {
    width: 320px;
    margin-left: 50px
}

.textField {
    margin-left: 10px;
    margin-right: 20px;
    width: 250px
}

.small {
    color: red;
    margin-left: 10px;
}

.container {
    display: flex;
    width: 870px;
}

.inputForm {
    margin-right: 30px;
    height: 75px;
}

.header {
    margin-right: 430px;
    margin-bottom: 20px
}
.header1 {
    margin-right: 10px;
    margin-bottom: 20px
}
.menu {
    width: 200px;
}

.btnAdd {
    margin-top: 30px;
    margin-left: 630px;
    display: inline;
}
.button{
    width: 160px;
    height: 40px;
}
.buttonView{
    width: 85px;
    height: 32px;
    background-color: #00a0af;
    font-size: 12.5px;
    color: #fff;
}
.space {
    margin-right: 10px
}
.title {
    padding-top: 20px;
    color: cornflowerblue;
    font-size: 20px
}
.typography {
    padding-left: 20px
}

.loading {
    text-align: center
}
.react-loading {

    display: inline-block;
}
